<!DOCTYPE html>

<html>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/carousel.css" />
    <link rel="stylesheet" href="~/Content/Card.css" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">&#9776;</button>

        <div class="collapse navbar-toggleable-xs" id="navbar-header">

            <a class="navbar-brand" href="#"> <img /> </a>

            <ul class="nav navbar-nav">

                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Uavs")">Комплексы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "gcu")">Пункты управления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "payloads")">Оптические системы</a>
                </li>
            </ul>

            <span class="form-inline pull-xs-right nav navbar-nav ">
                @Html.Partial("_LoginPartial")
            </span>
                @*
                <a class="nav-link nav-item" href="#">Галерея</a>
                <a class="nav-link nav-item" href="#">Новости</a>
                <a class="nav-link nav-item" href="#">Вакансии</a>
                <a class="nav-link nav-item" href="#">Контакты</a>
                <a class="nav-link nav-item" href="@Url.Action("Index", "Admin")">Админка</a>
            *@

</div>

    </nav> <!-- /navbar -->
    @RenderBody()
    <footer class="footer">
        <div class="container" style="padding-top: 5%; margin-bottom: -5%">
            <p align="center" class="text-muted">РУП "БАК и технолигии", Республика Беларусь, г. Минск, ул. Академика Купревича 10, email: example@gmail.com, тел. + 375 17 222 22 22</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
