@model Main.BLL.DTO.GcuTypeDTO

@{
    ViewBag.Title = "Uav";
}

<h2>@Model.Name</h2>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

@Html.ActionLink("<< Back","Index","Admin")
@Html.RouteLink("Edit", "admin", new { controller = "admin", action = "edit", type = "gcus", _id = @Model.Id })
@Html.Partial("PartialTables/_TableGcu", Model)